# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-14

    steps:
    - uses: actions/checkout@v4

    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '16.0.0'

    - name: Build
      run: swift build -v

    - name: Run tests
      run: swift test -v

    - name: Run SwiftLint
      run: swift package plugin swiftlint

    - name: Build Documentation
      run: swift package generate-documentation

    - name: Upload Pages
      uses: actions/upload-pages-artifact@v3
      with:
        path: .build/plugins/Swift-DocC/outputs/
